.connection {
    margin-top: 15px;
}

.card {
    margin: 10px;
}

h2 {
    text-align: center;
}

.container a h4:hover {
    color: cadetblue;
}

.container-post {
    margin-top: 25px !important;
}

.button-add-band {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}