* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgoldenrodyellow;
}

a,
a:visited {
    color: black;
}

/*HEADER
*/

.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    z-index: 999;
}

.header-menu {
    float: right;
    margin-right: 30px;
}

.header-menu a {
    margin-right: 15px;
    font-size: 1.2rem;
}

.header-menu a:hover {
    color: cadetblue;
}

.button-header {
    margin-top: 20px;
    opacity: 0.75;
    border-radius: 35px;
}

/*BANNER
*/

.banner {
    margin-top: -30px;
}

.banner-image {
    position: relative;
    height: 350px;
    width: 100%;
    opacity: 0.65;
}

.banner-content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 10%;
}

.zim-title {
    font-family: 'Mansalva', cursive;
    font-size: 3.5rem;
    font-weight: bold;
}

.zim-subtitle {
    font-family: 'Mansalva', cursive;
    font-size: 2rem;
    font-weight: bold;
}

/*LOGIN
*/

.container {
    width: 35%;
}

.input {
    background-color: #ffeef3;
}

.connection {
    color: white;
    background-color: cadetblue;
}

.registration {
    color: white;
    background-color: darkgreen;
}

.icon.is-small.is-left {
    color: cadetblue;
}

.not-yet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-yet {
    margin-top: 15px;
}

/*
CARDS
 */

.column.is-one-fifth {
    margin-left: auto;
    margin-right: auto;
}

.box.has-text-centered {
    box-shadow: none;
}

.button-return {
    margin-top: 30px;
    display: block;
    margin-left : auto;
    margin-right: auto;
}

/*FOOTER
*/

.footer {
    margin-top: 50px;
    background-color: lightgoldenrodyellow;
}
.footer-informations {
    text-align: center;
    margin-top: 30px;
}

.footer-informations ul {
    padding: 0;
}

.footer-informations ul li {
    display: inline-block;
    list-style-type: none;
}

.svg-inline--fa {
    font-size: 25px;
}


@media screen and (max-width: 640px) {
    .banner-image {
        visibility: hidden;
    }

    .not-yet {
        display: none;
    }

    .registration {
        display: none;
    }
}