* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
a:visited {
    color: black;
}

/*HEADER
*/

.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    z-index: 999;
}

.header-menu {
    float: right;
    margin-right: 30px;
}

.header-menu a {
    margin-right: 15px;
    font-size: 1.2rem;
}

.header-menu a:hover {
    color: cadetblue;
}

.button-header {
    margin-top: 20px;
    opacity: 0.75;
    border-radius: 35px;
}

/*BANNER
*/

.banner {
    margin-top: -30px;
}

.banner-image {
    position: relative;
    height: 350px;
    width: 100%;
    opacity: 0.65;
}

.banner-content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 10%;
}

/*LOGIN
*/

.container {
    width: 35%;
}

.input {
    background-color: #ffeef3;
}

.connection {
    color: white;
    background-color: cadetblue;
}

.registration {
    margin-left: -50px !important;
    color: white;
    background-color: darkgreen;
}

.icon.is-small.is-left {
    color: cadetblue;
}

.not-yet-container {
    justify-content:space-evenly !important;
}

.not-yet {
    margin-top: 6px;
}

/*
CARDS
 */

.box.has-text-centered {
    box-shadow: none;
}

.each-card {
    min-height: 400px;
    max-height: 450px;
    min-width: 300px;
    max-width: 330px;
}

.image-from-card {
    min-height: 235px;
    max-height: 235px;
    min-width: 300px;
    max-width: 330px;
}

/*FOOTER
*/

.footer {
    margin-top: 50px;
}
.footer-informations {
    text-align: center;
    margin-top: 30px;
}

.footer-informations ul {
    padding: 0;
}

.footer-informations ul li {
    display: inline-block;
    list-style-type: none;
}

.svg-inline--fa {
    font-size: 25px;
}