<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>O&Zim - Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<div class="block" id="retour">
    <header class="header">
        <nav class="header-menu">
            <a th:href="@{/disconnect}" class="button is-danger & button-header">Déconnexion</a>
            <a th:href="@{/admin/groups}" class="button & button-header">Groupes</a>
        </nav>
    </header>
</div>
<div class="block">
    <div class="banner">
        <img th:src="@{/img/banner2.png}" alt="bannière site" class="banner-image" />
        <div class="banner-content">
            <h1 class="zim-title">O&Zim</h1>
            <h1 class="zim-subtitle">Administrateur - Gestion des utilisateurs</h1>
        </div>
    </div>
</div>
<div class="container & main-container">
    <div class="card & titles-container" th:each="user : ${userList}">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4" th:text="${user.email}">Email de l'utilisateur</p>
                    <div class="field is-grouped">
                        <p class="control">
                            <a th:href="@{/admin/delete(idUser=${user.id})}"><button class="button is-danger">Supprimer</button></a>
                        </p>
                        <p class="control" th:if="${user.active}">
                            <a th:href="@{/admin/disable(idUser=${user.id})}"><button class="button is-warning">Désactiver</button></a>
                        </p>
                        <p class="control" th:unless="${user.active}">
                            <a th:href="@{/admin/activate(idUser=${user.id})}"><button class="button is-success">Activer</button></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#retour">
    <button class="button is-warning & button-return">Haut de page</button>
</a>
<div class="block">
    <footer class="footer">
        <div class="footer-informations">
            <p>Wild Code School</p>
            <p>Checkpoint 4</p>
            <ul>
                <li>
                    <a href="https://github.com/jonezime/checkpoint4-blog-musique"><i class="fab fa-github"></i></a>
                </li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>
