<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>O&Zim - Ajout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/list.css}" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<div class="block">
    <header class="header">
        <nav class="header-menu">
            <a th:href="@{/disconnect}" class="button is-danger & button-header">Déconnexion</a>
            <a th:href="@{/addBand}" class="button & button-header">Ajouter</a>
            <a th:href="@{/list}" class="button & button-header">Ma liste</a>
        </nav>
    </header>
</div>
<div class="block">
    <div class="banner">
        <img th:src="@{/img/banner2.png}" alt="bannière site" class="banner-image" />
        <div class="banner-content">
            <h1 class="title is-1">O&Zim</h1>
            <h2 class="subtitle">Vos groupes</h2>
        </div>
    </div>
</div>
<div class="columns is-multiline">
    <div class="column is-one-quarter" th:each="band : ${bandList}">
    <div class="card & each-card">
        <div class="card-image">
            <figure class="image is-4by3 & image-from-card">
                <img th:src="@{${band.cover}}" alt="Cover artiste" />
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4" th:text="${band.name}">Nom de l'artiste</p>
                    <p class="subtitle is-6" th:text="${band.genre}">Style musical</p>
                    <div class="box has-text-centered">
                        <a th:href="@{/removeBand(bandId=${band.id})}"><p class="button is-danger">Supprimer</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="block">
    <footer class="footer">
        <div class="footer-informations">
            <p>Wild Code School</p>
            <p>Checkpoint 4</p>
            <ul>
                <li>
                    <a href="https://github.com/jonezime/checkpoint4-blog-musique"><i class="fab fa-github"></i></a>
                </li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>
